* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #e1e5f2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-height: 100vh;
}

.title {
    font-weight: lighter;
}

.main-img {
    box-shadow: 0px 2px 5px lightgray;
    width: 300px;
}

.column {
    width: 1000px;
    min-width: 400px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    padding: 40px 30px;
    column-gap: 40px;
}

.breadcrumb {
    color: #565659;
    font-size: 12px;
    text-align: center;
}

.title {
    font-size: 36px;
}

.logo-img {
    width: 105px;
}

.author-text {
    font-size: 14px;
}

h4 {
    margin-top: 14px;
    margin-bottom: 0;
}

a {
    color: #007185;
}

.margin-top {
    margin-top: 14px;
}

@media (max-width: 850px) {

    .column {
        flex-direction: column;
        min-width: 100%;
    }

    .title {
        font-size: 20px;
    }
}