body {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background: #e1e5f2;
}

.title {
    font-weight: lighter;
}

.main-img {
    box-shadow: 0px 2px 5px lightgray;
    width: 300px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.column {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    border: 2px solid black;
    padding: 30px 15px;
}

.metadata {
    margin-left: 20px;
}

.breadcrumb {
    color: #565659;
    font-size: 12px;
}

.title {
    font-size: 36px;
}

.logo-img {
    width: 105px;
}

.author-text {
    font-size: 14px;
}

h4 {
    margin-top: 14px;
    margin-bottom: 0;
}

a {
    color: #007185;
}

.margin-top {
    margin-top: 14px;
}

@media (max-width: 768px) {
    .column {
        flex-direction: column;
    }
    
    .title {
    font-size: 25px;
}

    .main-img {
        max-width: 80%;
        display: block;
        margin: 0 auto;
    }

}

@media (min-width: 769px) and (max-width: 1024px) {
    .column {
        flex-direction: column;
    }
    
    .title {
    font-size: 30px;
}

}


@media (min-width: 1025px) {
    .container {
        height: 100vh;
    }
}